# backups and temps
*~
tmp/
bak/
ds/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.rel
*.asm

# Linker output
*.ilk
*.map
*.exp
*.ihx
*.sym
*.rst
*.mem
*.lst
*.lk

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
.core
core*

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# kicad
fp-info-cache
*.zip
order*/

# pd2tex
*.[ao]
*.so
*~
.*~
#*
.#*
*.def
*.lib
*.tmp
*.obj
*.aux
*.log
*.out
*.toc
*.tex
*.dbx
*.nonl
*.seal
*.eps
*.wiki
.pd/
spell.words
